<!DOCTYPE html>

<html>
    <head>
        <title>
            {% block title %}
            RapidSaaS
            {% endblock title %}
        </title>

        {% comment %} {% include 'base/css.html' %} {% endcomment %}
    </head>

    <body>
        {% comment %} {% include 'nav/navbar.html' %} {% endcomment %}

        <h1 class="text-lg font-medium">{{ my_title }}</h1>

        {% block content %}

        {% endblock %}

        {% comment %} {% include 'base/js.html' %} {% endcomment %}
    </body>
</html>
