{% extends 'feed/base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8">

    <h1>Ideas</h1>

    {% if ideas %}
        {% for idea in ideas %}
        <div class="alert alert-dark" role="alert">
            {{ idea.body }} <br>
            <small class="text-muted">
                {{ idea.created_at }} By @{{ idea.user.username }}
            </small> <br>
        </div>
        {% endfor %}
    {% endif %}

    </div>
    
    <div class="col-md-4">
        {% if form %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-secondary">Share idea</button>
        </form>
        {% endif %}
    </div>

{% endblock %}

