{% extends 'feed/base.html' %}

{% block content %}

    {% if profile %}
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1>{{ profile.user.username }}'s Profile</h1> <br>
                    {% if ideas %}
                        {% for idea in ideas %}
                        <div class="alert alert-dark" role="alert">
                            {{ idea.body }} <br>
                            <small class="text-muted">
                                {{ idea.created_at }} By @{{ idea.user.username }}
                            </small> <br>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <h5 class="card-header">Following</h5>
                        <div class="card-body">
                            {% for following in profile.follows.all %}
                                <a href="{% url 'profile' following.user.id %}">@{{ following }}</a> <br>
                            {% endfor %}
                        </div>
                    </div>
                    <br>
                    <div class="card">
                        <h5 class="card-header">Followers</h5>
                        <div class="card-body">
                            {% for following in profile.follows.all %}
                                <a href="{% url 'profile' following.user.id %}">@{{ following }}</a> <br>
                            {% endfor %}
                        </div>
                    </div>
                    <br>
                    <form action="" method="post">
                        {% csrf_token %}
                        {% if profile in user.profile.follows.all %}
                            <button class="btn btn-outline-danger" name="follow" value="unfollow" type="submit">Unfollow @{{ profile.user.username }}</button>
                        {% else %}
                            <button class="btn btn-outline-success" name="follow" value="follow" type="submit">Follow @{{ profile.user.username }}</button>
                        {% endif %}
                    </form>
                    <br>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
